@{
    ViewData["Title"] = "Privacy Warning";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid justify-content-center"">
<h1>This property belongs to Mr Sanish Bal</h1>
</div>
<a class="btn btn-secondary ms-2" href="javascript:history.back()">Go Back</a>
