@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Page with Cards</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-b4gt2gfGfgoI1ibF5rK+0POE0Rp6Bp/2L0AIRej9d/D3s0+1V6o5JnYLdOIVcF/l" crossorigin="anonymous">
    <style>
        .card {
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
        }

        a {
            text-decoration: none;
            color: inherit; /* Inherit color from parent element */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="text-center">Admin Dashboard</h2>
            </div>
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Book Control</h2>
                <a asp-controller="Book" asp-action="AddBooks" class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Add Books</h5>
                        <p class="card-text">Addition of New Books</p>
                    </div>
                </a>
                <a asp-controller="Book" asp-action="ListBooks" class="card">
                    <div class="card-body">
                        <h5 class="card-title">Book List</h5>
                        <p class="card-text">View Book List and Perform Actions like Edition and Deletion</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <h2 class="text-center mb-4">Book Status</h2>
                <a  class="card mb-3" asp-action="AddBorrow"asp-controller="Borrow">
                    <div class="card-body">
                        <h5 class="card-title">Add Record</h5>
                        <p class="card-text">Record Books Borrowed By Students</p>
                    </div>
                </a>
                <a class="card" asp-controller="Borrow" asp-action="ListBorrow">
                    <div class="card-body">
                        <h5 class="card-title">Update Record</h5>
                        <p class="card-text">Record Book Returns and Process Fines </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

  

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-j+5rC4m4K4djmdBHG4zjWjROdGGfhxC8X03vl1k/UTBWNFf9jV4ZEoFOVK9Pvxdp" crossorigin="anonymous"></script>
</body>
</html>